







.title {

  font-family: sans-serif;
  font-size: 40px;
  background-color: #c29e7b;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  max-width: auto;
  margin-top: auto;
  text-align: center;

}

.form {



	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  align-content: left;
  
  
  
}





/*.reset {

  background-color: #fafaea;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: auto;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    max-width: auto;
}*/

.custom-select{


    background-color: #b1bcc2;
    border: 2px solid #c29e7b;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex-center;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: auto;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto ;


    

}




.arit {

  font-size: 30px;
  color: white;

}

.all {

  
  justify-content: center;
  align-items: center;
  margin: auto;
  
   
}

.bod {

  background-image:    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB75bPb-CT9JK-xgcCHX60tTkH0jHtngiMYQ&usqp=CAU);
}

.button:hover {

  transition-duration: 2s;
  background-color: #2e3841;

}
  

.button{

    background-color: #b1bcc2;
    border: 2px solid #c29e7b;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex-center;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: auto;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto ;


}
